*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: rgb(235, 235, 229);
}
main{
    width: 50%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.top-content{
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: auto;
}
.top-content h3{
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
}
.top-content .p-top{
    font-weight: bold;
    color: rgb(246, 247, 243);
    font-size: 15px;
    padding-bottom: 10px;
}
.botton-content{
    display: flex;
    width: 100%;
}
.botton-content .top-bottom{
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 100%;
    color: white;
}
.botton-content .second-bottom{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 100%;
    color: white;
}
