*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: rgb(235, 235, 229);
}
main{
    width: 50%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.top-content{
    background-color: white;
    padding: 2em;
    width: 100%;
}
.top-content h3{
    color: aqua;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
}
.top-content .p-top{
    font-weight: bold;
    color: rgb(108, 124, 15);
    font-size: 15px;
    padding-bottom: 10px;
}
.botton-content{
    display: flex;
    width: 100%;
}
.botton-content .top-bottom{
    background-color: rgb(11, 146, 146);
    padding: 2em;
    width: 100%;
}
.botton-content .second-bottom{
    background-color: rgb(94, 233, 233);
    padding: 2em;
    width: 100%;
}
